.container {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.monthButton {
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 4px 8px;
}

.monthButton:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}

.monthDisplay {
  font-size: 18px;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
}

.dayHeader {
  text-align: center;
  padding: 8px;
  font-weight: bold;
}

.weekend {
  color: #ff4d4d;
}

.day {
  background: transparent;
  padding: 5px;
  color: var(--font-color);
  display: grid;
  grid-template-rows: 14px 1fr;
  text-align: left;
  min-height: 80px;
  gap: 10px;
  border: 1px solid var(--gray-200);
}

.day:hover {
  background-color: #f0f0f0;
}

.today {
  color: #007bff;
  font-weight: bold;
}

.emptyDay {
  padding: 8px;
}

.content {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
